#tab tr td{
	text-align: center;
}
#tab tr th{
	text-align: center;
	height: 50px;
}
button{
                height: 40px;
                width:80px;
                margin: 1px 1px;
                font: 400 14px/40px "微软雅黑";
            }
.counter{
                width: 396px;
                height: 486px;
                background-color: #F2F2F2;
                border: 1px solid #C2C3C6;
                margin: 50px auto;

            }
            /* 显示框 */
            #box {
                height: 44px;
                width: 100%;
                background-color: #323232;
                border: none;
                margin: 8px 25px 15px 0px;
                font: 700 18px/70px "微软雅黑";
                color: #ffffff;
                padding-right: 0px;
            }
#enter {
                height: 44px;
                width: 24%;
                background-color: #323232;
                border: none;
                right: 0px
                margin: -12px 1px -3px 1px;
                font: 700 18px/44px "微软雅黑";
                color: #ffffff;
                padding-right: 0px;
            }
#c {
                height: 44px;
                width: 24%;
                background-color: #323232;
                border: none;
                margin: -12px 1px -3px 10px;
                font: 700 18px/44px "微软雅黑";
                color: #ffffff;
                padding-right: 0px;
            }
            /* 功能区 */
            .funct {
                padding: 0 20px;
                position: relative;

            }
            /* 按钮样式 */
            .funct input {
                height: 40px;
                width: 60px;
                margin: 10px 10px;
                font: 400 20px/40px "微软雅黑";
            }
            /* 清除按钮样式 */
            .funct #res {
                width: 150px;
            }
            /* + - = . 按钮浮动 */
            #add, #reduce, #round, #sum {
                position: absolute;
                right: 0px;
                bottom: 0px;
            }
            /* 0 */
            #zero {
                width: 150px;
            }
            
            /* 数字区 */
            .numb {
                width: 280px;
            }
