::after,::before  {-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
html,body,div,span,applet,select,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {font-family:"-apple-system","system-ui","Meiryo UI","Segoe UI","Roboto","Helvetica Neue","Microsoft YaHei","Arial";}
body{background: url(/res/img/background.gif) repeat fixed 0 0 transparent;}
a {color: #337ab7;text-decoration: none;background-color: transparent;}
ol, ul ,ul li{list-style: none;margin:0;padding:0;}
label {display:inherit;}
label img {vertical-align:middle;}
label sub,label sup {color:red}
h2,h4,label {margin:10px 0;line-height: 32px;}
div {margin:0 auto 10px;}
div.hide-article-box {width:100%;background-image:-webkit-gradient(linear,left top,left bottom,from(rgba(255,255,255,0)),color-stop(70%,#fff));background-image:linear-gradient(-180deg,rgba(255,255,255,0) 0%,#fff 70%);}
div.hide-article-pos {position:relative;z-index:1998;padding-top:160px;bottom:1px;margin-top:-200px;}
div.hide-article-box a {display:block;height:48px;line-height:48px;margin-top:4px;border: 1px solid #ddd;border-radius: 5px;font-size:16px;color:#777;background:rgba(255,255,255,0.6);text-align:center;vertical-align:middle;cursor:pointer;}
div.hide-article-box a:hover{background:#3385ff;color:#fff}
article {padding:5px;}
input {padding:10px 15px;cursor:pointer;width:32%;font-size:1.1rem;border-radius:5px;border:1px solid #a7a7a7;margin:5px;vertical-align:middle;}
input:hover,input:visited {background:#3385ff}
#url_list {overflow:hidden;height:400px;}
#url_list table{border-spacing: 0;border-collapse: collapse;table-layout: fixed;line-height: 32px;}
.list.th {background-color:#c7c7c7;}
#url_list table tr th,#url_list table tr td,{border: 1px solid #000;}
.list {border:0;margin:0;padding:0;}
#url_list li {padding: 5px 0;}
.list:hover {background-color:#c7c7c7;}
.textov {white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.js-url{color:blue;}
.list td,.list th	{line-height: 150%;border: 1px solid #000;}
.list td,.list th	{line-height: 150%;border: 1px solid #000;}
.tooltip.cursor.blue:hover{background:#3385ff;color:#fff}
.tab_1 {width:53%;}
.tab_2 {width:33%;}
.tab_3 {width:9%;}
.center {text-align:center;}
.cursor{cursor:pointer}
.blue{color:blue}
.black{color:black}
.green{color:green}
.clear{clear: both !important;display: block !important;}
.maxw {width: 95%;max-width:1122px;background-color: #fff;padding: 5px 10px;}
.lh150 {line-height: 32px;}
.title{border: 1px solid #a7a7a7;padding: 5px 15px;border-radius: 5px;margin: 0 5px;background: url(/res/img/background.gif) repeat fixed 0 0 transparent;}
.rightCover {position:fixed;width:100%;height:100%;top:0px;background:#000;z-index:9999;opacity:0.7;text-align:center;}
.rightCover img {width:100px;height:100px;position:absolute;margin-left:-50px;left:50%;top:50%;margin-top:-50px;}
.tree {display:none;z-index:999999;background:url(/res/img/background.gif) repeat fixed 0 0 transparent;margin-top:30px;margin-left:-70px;border-radius:5px;border:1px solid #999;background-color:#fbfbfb;position:absolute;padding-bottom:10px;}
.tree li {list-style-type:none;margin:0;padding:10px 5px 0;position:relative}
.tree ol, ul, ul li {list-style: none;margin: 0;padding-left: 30px;}
.tree li::before,.tree li::after {content:'';left:-20px;position:absolute;right:auto}
.tree li::before {border-left:1px solid #999;bottom:50px;height:100%;top:0;width:1px}
.tree li::after {border-top:1px solid #999;height:20px;top:25px;width:25px}
.tree li span {display:block;-moz-border-radius:5px;-webkit-border-radius:5px;border:1px solid #999;background-color:#c0c0c0;color:#000;border-radius:5px;padding:3px 8px;text-decoration:none}
.tree li.parent_li>span {cursor:pointer}
.tree>ul>li::before,.tree>ul>li::after {border:0}
.tree li:last-child::before {height:26px}
.tree li.parent_li>span:hover,.tree li.parent_li>span:hover+ul li span {background:#eee;border:1px solid #94a0b4;color:#000}
label b,.keyword b {color:blue;}
.keyword {position:relative;line-height: 150%;}
.keyword div.table{display: inline-table;margin-right: 20px;margin-bottom: 5px;}
abbr {background-color:#fff;border:1px dashed #a7a7a7;margin-right:5px;padding:2px 5px;white-space:nowrap;border-radius:5px;}
abbr.h:hover .tree {display:inherit}
abbr.h:hover {background-color:#5da4e6;color:#fff;border: 1px solid #5da4e6;}
abbr.h {background-color:#f0f0f0;color:#000;border:1px solid #ccc;cursor:pointer;}
.animated {-webkit-animation-duration:.5s;animation-duration:.5s;-webkit-animation-fill-mode:both;animation-fill-mode:both;}
@-webkit-keyframes fadeInUp {0% {opacity:1;-webkit-transform:translateY(20px);transform:translateY(20px)}
100% {opacity:1;-webkit-transform:translateY(0);transform:translateY(0)}
}
@keyframes fadeInUp {0% {opacity:1;-webkit-transform:translateY(20px);transform:translateY(20px)}
100% {opacity:1;-webkit-transform:translateY(0);transform:translateY(0)}
}
.fadeInUp {-webkit-animation-name:fadeInUp;animation-name:fadeInUp}
@media screen and (max-width:767px) {#url_list {height:230px;}
input {width:99%;}
#tooltip{display:none !important}
}
#tooltip {border:1px solid #444;font-size:14px;max-width:205px;padding:1em;position:absolute;z-index:2000;text-shadow:none;border-radius:6px;-moz-border-radius:6px;-webkit-border-radius:6px}
#tooltip img{width:100%;border-radius: 10px;background:#fff;}
@-webkit-keyframes progress-bar-stripes {from {background-position:40px 0}
to {background-position:0 0}
}
@-o-keyframes progress-bar-stripes {from {background-position:40px 0}
to {background-position:0 0}
}
@keyframes progress-bar-stripes {from {background-position:40px 0}
to {background-position:0 0}
}
.progress {height:20px;margin-bottom:20px;overflow:hidden;background-color:#f5f5f5;border-radius:4px;-webkit-box-shadow:inset 0 1px 2px rgba(0,0,0,.1);box-shadow:inset 0 1px 2px rgba(0,0,0,.1)}
.progress-bar {float:left;width:0;height:100%;font-size:12px;line-height:20px;color:#fff;text-align:center;background-color:#337ab7;-webkit-box-shadow:inset 0 -1px 0 rgba(0,0,0,.15);box-shadow:inset 0 -1px 0 rgba(0,0,0,.15);-webkit-transition:width .6s ease;-o-transition:width .6s ease;transition:width .6s ease}
.progress-bar-striped,.progress-striped .progress-bar {background-image:-webkit-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);background-image:-o-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);background-image:linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);-webkit-background-size:40px 40px;background-size:40px 40px}
.progress-bar.active,.progress.active .progress-bar {-webkit-animation:progress-bar-stripes 2s linear infinite;-o-animation:progress-bar-stripes 2s linear infinite;animation:progress-bar-stripes 2s linear infinite}
.progress-bar-success {background-color:#5cb85c}
.progress-striped .progress-bar-success {background-image:-webkit-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);background-image:-o-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);background-image:linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent)}
.progress-bar-info {background-color:#5bc0de}
.progress-striped .progress-bar-info {background-image:-webkit-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);background-image:-o-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);background-image:linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent)}
.progress-bar-warning {background-color:#f0ad4e}
.progress-striped .progress-bar-warning {background-image:-webkit-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);background-image:-o-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);background-image:linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent)}
.progress-bar-danger {background-color:#d9534f}
.progress-striped .progress-bar-danger {background-image:-webkit-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);background-image:-o-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);background-image:linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent)}

.toast-title {font-weight:bold;}
.toast-message {-ms-word-wrap:break-word;word-wrap:break-word;}
.toast-message a,.toast-message label {color:#FFF;}
.toast-message a:hover {color:#CCC;text-decoration:none;}
.toast-top-left {top:12px;left:12px;}
.toast-bottom-right {bottom:12px;right:12px;}
.toast-bottom-left {position:absolute;left:43%;top:65px;}
#toast-container {position:fixed;z-index:9999;}
#toast-container > div {background-position:15px center;background-repeat:no-repeat;-moz-border-radius:3px 3px 3px 3px;-webkit-border-radius:3px 3px 3px 3px;border-radius:3px 3px 3px 3px;-moz-box-shadow:0 0 12px #999999;-webkit-box-shadow:0 0 12px #999999;box-shadow:0 0 12px #999999;color:#FFFFFF;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";filter:alpha(opacity=80);margin:0 0 6px;opacity:0.8;padding:15px 15px 15px 50px;width:300px;}
.toast {background-color:#030303;}
.toast-success {background-color:#51A351;}
.toast-error {background-color:#BD362F;}
.toast-info {background-color:#2F96B4;}
.toast-warning {background-color:#F89406;}
.toast-top-right {right:12px;top:12px;}
#toast-container >:hover {-moz-box-shadow:0 0 12px #000000;-webkit-box-shadow:0 0 12px #000000;box-shadow:0 0 12px #000000;cursor:pointer;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";filter:alpha(opacity=100);opacity:1;}
#toast-container > .toast-info {background-image:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAGwSURBVEhLtZa9SgNBEMc9sUxxRcoUKSzSWIhXpFMhhYWFhaBg4yPYiWCXZxBLERsLRS3EQkEfwCKdjWJAwSKCgoKCcudv4O5YLrt7EzgXhiU3/4+b2ckmwVjJSpKkQ6wAi4gwhT+z3wRBcEz0yjSseUTrcRyfsHsXmD0AmbHOC9Ii8VImnuXBPglHpQ5wwSVM7sNnTG7Za4JwDdCjxyAiH3nyA2mtaTJufiDZ5dCaqlItILh1NHatfN5skvjx9Z38m69CgzuXmZgVrPIGE763Jx9qKsRozWYw6xOHdER+nn2KkO+Bb+UV5CBN6WC6QtBgbRVozrahAbmm6HtUsgtPC19tFdxXZYBOfkbmFJ1VaHA1VAHjd0pp70oTZzvR+EVrx2Ygfdsq6eu55BHYR8hlcki+n+kERUFG8BrA0BwjeAv2M8WLQBtcy+SD6fNsmnB3AlBLrgTtVW1c2QN4bVWLATaIS60J2Du5y1TiJgjSBvFVZgTmwCU+dAZFoPxGEEs8nyHC9Bwe2GvEJv2WXZb0vjdyFT4Cxk3e/kIqlOGoVLwwPevpYHT+00T+hWwXDf4AJAOUqWcDhbwAAAAASUVORK5CYII=") !important;}
#toast-container > .toast-error {background-image:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAHOSURBVEhLrZa/SgNBEMZzh0WKCClSCKaIYOED+AAKeQQLG8HWztLCImBrYadgIdY+gIKNYkBFSwu7CAoqCgkkoGBI/E28PdbLZmeDLgzZzcx83/zZ2SSXC1j9fr+I1Hq93g2yxH4iwM1vkoBWAdxCmpzTxfkN2RcyZNaHFIkSo10+8kgxkXIURV5HGxTmFuc75B2RfQkpxHG8aAgaAFa0tAHqYFfQ7Iwe2yhODk8+J4C7yAoRTWI3w/4klGRgR4lO7Rpn9+gvMyWp+uxFh8+H+ARlgN1nJuJuQAYvNkEnwGFck18Er4q3egEc/oO+mhLdKgRyhdNFiacC0rlOCbhNVz4H9FnAYgDBvU3QIioZlJFLJtsoHYRDfiZoUyIxqCtRpVlANq0EU4dApjrtgezPFad5S19Wgjkc0hNVnuF4HjVA6C7QrSIbylB+oZe3aHgBsqlNqKYH48jXyJKMuAbiyVJ8KzaB3eRc0pg9VwQ4niFryI68qiOi3AbjwdsfnAtk0bCjTLJKr6mrD9g8iq/S/B81hguOMlQTnVyG40wAcjnmgsCNESDrjme7wfftP4P7SP4N3CJZdvzoNyGq2c/HWOXJGsvVg+RA/k2MC/wN6I2YA2Pt8GkAAAAASUVORK5CYII=") !important;}
#toast-container > .toast-success {background-image:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAADsSURBVEhLY2AYBfQMgf///3P8+/evAIgvA/FsIF+BavYDDWMBGroaSMMBiE8VC7AZDrIFaMFnii3AZTjUgsUUWUDA8OdAH6iQbQEhw4HyGsPEcKBXBIC4ARhex4G4BsjmweU1soIFaGg/WtoFZRIZdEvIMhxkCCjXIVsATV6gFGACs4Rsw0EGgIIH3QJYJgHSARQZDrWAB+jawzgs+Q2UO49D7jnRSRGoEFRILcdmEMWGI0cm0JJ2QpYA1RDvcmzJEWhABhD/pqrL0S0CWuABKgnRki9lLseS7g2AlqwHWQSKH4oKLrILpRGhEQCw2LiRUIa4lwAAAABJRU5ErkJggg==") !important;}
#toast-container > .toast-warning {background-image:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAGYSURBVEhL5ZSvTsNQFMbXZGICMYGYmJhAQIJAICYQPAACiSDB8AiICQQJT4CqQEwgJvYASAQCiZiYmJhAIBATCARJy+9rTsldd8sKu1M0+dLb057v6/lbq/2rK0mS/TRNj9cWNAKPYIJII7gIxCcQ51cvqID+GIEX8ASG4B1bK5gIZFeQfoJdEXOfgX4QAQg7kH2A65yQ87lyxb27sggkAzAuFhbbg1K2kgCkB1bVwyIR9m2L7PRPIhDUIXgGtyKw575yz3lTNs6X4JXnjV+LKM/m3MydnTbtOKIjtz6VhCBq4vSm3ncdrD2lk0VgUXSVKjVDJXJzijW1RQdsU7F77He8u68koNZTz8Oz5yGa6J3H3lZ0xYgXBK2QymlWWA+RWnYhskLBv2vmE+hBMCtbA7KX5drWyRT/2JsqZ2IvfB9Y4bWDNMFbJRFmC9E74SoS0CqulwjkC0+5bpcV1CZ8NMej4pjy0U+doDQsGyo1hzVJttIjhQ7GnBtRFN1UarUlH8F3xict+HY07rEzoUGPlWcjRFRr4/gChZgc3ZL2d8oAAAAASUVORK5CYII=") !important;}
/*Responsive Design*/@media all and (max-width:240px) {#toast-container > div {padding:8px 8px 8px 50px;width:108px;}
}
@media all and (min-width:241px) and (max-width:320px) {#toast-container > div {padding:8px 8px 8px 50px;width:128px;}
.toast-bottom-left {position:absolute;left:25%;top:65px;}
}
@media all and (min-width:321px) and (max-width:480px) {#toast-container > div {padding:8px 8px 8px 50px;width:192px;}
.toast-bottom-left {position:absolute;left:30%;top:65px;}
}
@media all and (min-width:481px) and (max-width:768px) {#toast-container > div {padding:15px 15px 15px 50px;width:300px;}
.toast-bottom-left {position:absolute;left:30%;top:65px;}
}
@media all and (min-width:769px) {#toast-container > div {padding:15px 15px 15px 50px;width:300px;}
.toast-bottom-left {position:absolute;left:40%;top:65px;}
}
body{
background-color: #fff;
}